:root {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.card {
  width: 325px;
  padding: 20px;
  border-radius: 20px;
  border: 1.5px solid hsl(0, 0%, 7%);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card > img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
}

.tag {
  display: inline-block;
  margin-bottom: 12px;
  padding: 8px 14px;
  font-size: 0.75rem;
  font-weight: 800;
  background-color: hsl(47, 88%, 63%);
  border-radius: 6px;
}

.date {
  margin-bottom: 20px;
  font-size: 0.75rem;
}

.date:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

h3 {
  margin-bottom: 12px;
  font-weight: 800;
}

h3:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.description {
  margin-bottom: 20px;
  color: hsl(0, 0%, 42%);
  font-size: 0.875rem;
  line-height: 1.5;
}

.avatar {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 900;
  gap: 12px;
}

.avatar:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
